/* Reset des styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Styles généraux */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f9f9f9;
    margin: 20px;
    color: #333;
}

.smaller-text {
    font-size: 14px; /* Taille de police plus petite */
}

p {
    margin-bottom: 20px;
}

.container {
    max-width: 1200px;
    margin: 0px auto;
    padding: 20px;
    position: relative; /* Ajout de position relative pour créer un contexte de positionnement */
}

.text-position-titre {
    position: relative; /* Vous pouvez utiliser absolute, fixed, etc., selon vos besoins */
    left: 50px; /* Ajustez ces valeurs selon vos besoins */
    top: -100px;
    /* Autres styles si nécessaire */
}
/*////////////////////////////////////////////////////////////IMAGES///////////////////////////////////////////////////////////*/
.containerImgActu {
    position: relative; /* Assurez-vous que le conteneur a une position relative */
    width: 100px; /* Ajustez la largeur selon vos besoins */
    height: 50px; /* Ajustez la hauteur selon vos besoins */
}

.containerImgActu img {
    position: absolute; /* Position absolue par rapport au conteneur */
    top: -800px; /* Décalage de 50px à partir du haut */
    left: -20px; /* Décalage de 20px à partir de la gauche */
}
/*
.containerImgActu2 {
    position: relative; 
    width: 100%; 
    height: 50px; 
}

.containerImgActu2 img {
    position: absolute; 
    top: -700px; 
    left: 400px; 
}
*/
/* Bannières et logo fixes */
header {
    background-color: #4285f4;
    color: white;
    padding: 10px 0; /* Un padding plus grand pour donner un peu d'espace */
    position: fixed; /* Position fixe pour le header */
    top: 0;
    width: 100%;
    z-index: 1000; /* Z-index élevé pour superposer le header au contenu */
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px; /* Ajout de padding latéral pour aligner le contenu */
}

.header-content {
    display: flex;
    align-items: center;
}

.logo {
    height: 130px;
    margin-right: 20px; /* Espace entre le logo et le texte */
    position: absolute; /* Position absolue pour déplacer librement le logo */
    top: 0; /* Positionné en haut */
    left: -115px; /* Déplacement vers la gauche */
    z-index: 1001; /* Z-index légèrement plus élevé pour le logo */
}

header h1 {
    font-size: 2em;
    text-align: center;
    margin-left: 170px; /* Ajusté pour centrer avec la nouvelle position du logo */
}

nav ul {
    list-style-type: none;
    display: flex;
    margin-left: 150px;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #c6e2ff;
}

main {
    padding: 160px 20px 20px; /* Ajout de padding supérieur pour ne pas cacher le contenu sous le header fixe */
}

article {
    margin-bottom: 30px;
}

footer {
    background-color: #f1f1f1;
    color: #333;
    text-align: center;
    padding: 10px 0;
}

footer p {
    font-size: 1.2em;
}

footer a {
    color: #333;
    text-decoration: none;
    margin-left: 5px;
}

footer a:hover {
    text-decoration: underline;
}
/*//////////////////////////////////////////////////////////////////////////////////////////*/
.columns {
    display: flex;
    gap: 20px;
}

.column {
    flex: 1;
    padding: 10px;
    box-sizing: border-box;
}

.scrollable {
    position: absolute;
    left: 950px; /* position à gauche */
    top: -25px; /*  position en haut */
    width: calc(65% - 400px); /*  largeur en fonction du contenu et de l'espace nécessaire */
    max-height: calc(100vh - 180px); /* hauteur maximale pour s'adapter à l'écran */
    overflow-y: auto;
}

.scrollable2 {
    position: absolute;
    left: 500px; /* position à gauche */
    top: -25px; /*  position en haut */
    width: calc(65% - 400px); /*  largeur en fonction du contenu et de l'espace nécessaire */
    max-height: calc(100vh - 180px); /* hauteur maximale pour s'adapter à l'écran */
    overflow-y: auto;
}
/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*  vidéos YouTube */
.video-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%; /* Ratio 16:9 pour les vidéos */
    margin-top: 20px;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Media queries pour la mise en page responsive */
@media (max-width: 768px) {
    header {
        padding: 10px; /* Réduire le padding du header pour plus d'espace sur les petits écrans */
    }

    .logo {
        max-height: 50px; /* Réduire la hauteur du logo sur les petits écrans */
        margin-right: 10px; /* Réduire l'espace entre le logo et le texte */
    }

    header h1 {
        font-size: 1.5em; /* Réduire la taille du titre sur les petits écrans */
    }

    nav ul {
        flex-direction: column; /* Passer à une colonne pour les petits écrans */
        /*align-items: center; /* Centrer verticalement les éléments de navigation */
    }

    nav ul li {
        margin: 10px 0; /* Espace autour des éléments de navigation */
    }
}

/* Styles pour le diaporama */
.slideshow-container {
    max-width: 600px; /* Largeur maximale du conteneur */
    position: relative; /* Position relative pour que les éléments internes puissent être positionnés Absolument */
    left: -50px; 
    top: -300px; 
    margin-left: 20px; 
    margin-top: 20px; 
}

.slide {
    display: none;
}

.slide img {
    width: 100%;
    height: auto;
}

/* Contrôles précédent/suivant */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.manifest-button {
    background-color: #4285f4;
    color: white;
    border: none;
    display: inline-block;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    position: relative; /*   contexte de positionnement */
    margin-top: 150px;
    left: 135px; 
    top: -1175px; 
}
.manifest-button:hover {
    background-color: #3367d6;
}
