/* Reset des styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Styles généraux */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f9f9f9;
    color: #333;
    margin: 20px;
    overflow-x: hidden; /* Empêche le défilement horizontal */
}

.smaller-text {
    font-size: 14px; /* Taille de police plus petite */
}

p {
    margin-bottom: 20px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    position: relative; /* Ajout de position relative pour créer un contexte de positionnement */
}

.text-position-titre {
    position: relative;
    left: 50px;
    top: -100px;
    /* Autres styles si nécessaire */
}

/* Images */
.containerImgActu {
    position: relative;
    width: 100%;
    height: 50px;
}

.containerImgActu img {
    position: absolute;
    top: -800px;
    left: -20px;
}

/* Bannières et logo fixes */
header {
    background-color: #4285f4;
    color: white;
    padding: 10px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px; /* Ajout de padding latéral pour aligner le contenu */
}

.header-content {
    display: flex;
    align-items: center;
}

.logo {
    height: 130px;
    margin-right: 20px;
    position: absolute;
    top: 0;
    left: -115px;
    z-index: 1001;
}

.social-icons {
    position: absolute;
    top: 10px;
    left: 1000px;
}

.social-icons img {
    width: 100%; /* Ajustez la taille selon vos besoins */
    margin-right: 10px; /* Marge entre les icônes */
}

header h1 {
    font-size: 2em;
    text-align: center;
    margin-left: 170px;
}

nav ul {
    list-style-type: none;
    display: flex;
    margin-left: 150px;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #c6e2ff;
}

main {
    padding-top: 160px; /* Ajustement du padding top pour ne pas cacher le contenu sous le header fixe */
    padding-bottom: 120px; /* Espace en bas du contenu pour laisser de la place au footer */
    min-height: calc(100vh - 180px); /* Taille minimale de la fenêtre visible */
    position: relative; /* Position relative pour que le footer ne chevauche pas le contenu */
}

article {
    margin-bottom: 30px;
}

/* Styles pour le pied de page */
footer {
    background-color: #f1f1f1;
    color: #333;
    text-align: center;
    padding: 10px 0;
    bottom: 0;
    width: 100%;
    height: 100px;
    font-size: 0.8em;
    z-index: 100;
}

footer p {
    font-size: 1em;
}

footer a {
    color: #333;
    text-decoration: none;
    margin-left: 5px;
}

footer a:hover {
    text-decoration: underline;
}

.footer-text {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -71px;
}

/* Columns */
.columns {
    display: flex;
    gap: 20px;
}

.column {
    flex: 1;
    padding: 10px;
    box-sizing: border-box;
}

/* Scrollable containers */
.scrollable {
    position: absolute;
    left: 950px;
    top: -25px;
    width: calc(100% - 1000px);
    max-height: calc(100vh - 180px);
    overflow-y: auto;
}

.scrollable2 {
    position: absolute;
    left: 500px;
    top: -25px;
    width: calc(100% - 1000px);
    max-height: calc(100vh - 180px);
    overflow-y: auto;
}

/* Videos containers */
.video-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    margin-top: 20px;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Media queries pour la mise en page responsive */
@media (max-width: 768px) {
    header {
        padding: 10px; /* Réduire le padding du header pour plus d'espace sur les petits écrans */
    }

    .logo {
        max-height: 50px; /* Réduire la hauteur du logo sur les petits écrans */
        margin-right: 10px; /* Réduire l'espace entre le logo et le texte */
    }

    header h1 {
        font-size: 1.5em; /* Réduire la taille du titre sur les petits écrans */
    }

    nav ul {
        flex-direction: column; /* Passer à une colonne pour les petits écrans */
        margin-left: 0; /* Ajuster la marge */
    }

    nav ul li {
        margin: 10px 0; /* Espace autour des éléments de navigation */
    }

    main {
        padding-bottom: 180px; /* Ajustement pour le footer */
    }

    footer {
        position: relative; /* Position relative pour que le footer suive le flux de la page */
    }

    .columns {
        flex-direction: column; /* Passer à une colonne pour les petits écrans */
    }

    .scrollable, .scrollable2 {
        position: static; /* Position statique pour les conteneurs scrollables */
        width: 100%; /* Prendre toute la largeur disponible */
        max-height: none; /* Retirer la hauteur maximale */
    }

    .manifest-button {
        margin-top: 20px;
        left: 0;
        top: 0;
        width: 100%;
        text-align: center;
    }

    .slideshow-container {
        left: 0;
        top: 0;
        margin-left: 0;
        margin-top: 20px;
        width: 100%;
    }
}

/* Slideshow */
.slideshow-container {
    max-width: 100%;
    position: relative;
    left: -50px;
    top: -300px;
    margin-left: 20px;
    margin-top: 20px;
    max-width: 100%; /* Assure que le conteneur ne dépasse pas la largeur de l'écran */
    overflow: hidden; /* Cache tout débordement */
}

.slide {
    display: none;
}

.slide img {
    width: 100%;
    height: auto;
}

/* Slideshow controls */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Manifest button */
.manifest-button {
    background-color: #4285f4;
    color: white;
    border: none;
    display: inline-block;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    position: relative;
    margin-top: 150px;
    left: 650px;
    top: 100px;
}

.manifest-button:hover {
    background-color: #3367d6;
}
